#outter_well {
  background-color: indigo;
 }
 
 #inner_well {
   width: 70%;
   background-color: white;
 }
 
 .inside_well {
   color: black; 
 }
 
 .well_width {
   width:70%;
 }
 
 .btn {
   width:100%;
 }
 
 .well_heading {
   color: yellow;
   text-shadow:
     -1px -1px 0 black,  
      1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
 } 

img {
  display: block;
  margin:0 auto;
}
